---
import DotGen from "@components/DotGen.svelte";
import MinimalLayout from "@layouts/MinimalLayout.astro";
---

<MinimalLayout name="Dot Generation Utility">
  <h1 class="text-2xl">Dot Generation Utility</h1>
  <p>
    A small utility to generate dot grids for stuff like Open Graph images.
    Somewhat buggy, use at your own risk.
  </p>
  <DotGen client:load />
</MinimalLayout>
