---
import headshotSrc from "@assets/headshot.webp";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="relative">
    <Picture
      class="rounded-md float-right ml-4 mb-4 w-1/2 md:w-1/3"
      src={headshotSrc}
      formats={["avif", "webp"]}
      alt="Me standing on a beach in Ireland during sunset"
      loading="eager"
    />
    <h2 class="text-3xl md:text-4xl font-title pb-2">Hi, I&apos;m Jack!</h2>
    <p class="md:text-lg font-serif">
      I work to create concise, creative solutions to the problems the world
      faces and have fun while doing so. I&apos;m a senior studying computer
      science, artificial intelligence, and mathematics at Purdue (with a
      semester at University College Dublin). I have over a decade of experience
      in all programming disciplines and you'll find me reading, writing, taking
      apart whatever electronics I can get my hands on, designing software and
      hardware, and exploring the world.
    </p>
  </div>
</Layout>
