---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="relative">
    <img
      src="/lake.webp"
      alt="Me standing on a dock in front of a lake"
      class="rounded-md float-right ml-4 mb-4 w-1/3"
    />
    <h2 class="text-3xl md:text-4xl font-title">Hi, I&apos;m Jack!</h2>
    <p class="md:text-lg font-serif">
      I work to create concise, creative solutions to the problems the world
      faces and have fun while doing so. I&apos;m a junior studying computer
      science, artificial intelligence, and mathematics at Purdue (and UC
      Dublin!). I have over a decade of experience in all programming
      disciplines and I like to bike, read, explore, and ski.
    </p>
  </div>
</Layout>
