---
import FeedContainer from "../components/FeedContainer.astro";
import WorkItem from "../components/WorkItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <FeedContainer>
    <WorkItem
      title="Purdue Hackers"
      position="Engineering Division Lead"
      timePeriod="2024 - Present"
    >
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
    </WorkItem>
    <WorkItem
      title="Leidos Innovation Center"
      position="High-Performance Software Intern"
      timePeriod="Summer 2024"
    >
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
      <p>sign sign sign</p>
    </WorkItem>
  </FeedContainer>
</Layout>
