---
import "@styles/global.css";
---

<div id="canvas-container" transition:persist="dots" transition:persist-props>
</div>

<script>
  import { DotCanvas } from "@lib/dots";

  const canvasContainer = document.getElementById(
    "canvas-container",
  ) as HTMLDivElement;
  let rootContent = document.getElementById("root-content");

  const canvas = document.createElement("canvas");
  canvas.style.position = "fixed";
  canvas.style.left = "0";
  canvas.style.top = "0";
  canvas.style.pointerEvents = "none";
  canvas.style.filter = "blur(7px)";
  canvasContainer.appendChild(canvas);

  const dots = new DotCanvas(canvas);
  const DOT_SPACING = 40;

  function updateCanvas() {
    canvas.width = window.innerWidth - 1;
    canvas.height = window.innerHeight;
    dots.generateDots();
  }

  updateCanvas();

  let mouseX = -1000;
  let mouseY = -1000;
  let shouldUpdate = true;
  let shouldUpdateTimeout: NodeJS.Timeout | null = null;

  function startUpdating() {
    shouldUpdate = true;
    if (shouldUpdateTimeout) return;
    shouldUpdateTimeout = setTimeout(() => {
      shouldUpdate = false;
      shouldUpdateTimeout = null;
    }, 1000);
    render(0);
  }

  let isColor = (window.localStorage.getItem("color") || "t") === "t";

  document.addEventListener("colortoggle", (e) => {
    isColor = !isColor;
    window.localStorage.setItem("color", isColor ? "t" : "f");
  });

  document.addEventListener("mousemove", (e) => {
    mouseX = e.clientX;
    mouseY = e.clientY;
    startUpdating();
  });

  let currentBox: Element | null = null;
  document.addEventListener("dotenter", (e) => {
    currentBox = (e as CustomEvent).detail;
  });
  document.addEventListener("dotleave", (e) => {
    const elem = (e as CustomEvent).detail;
    if (elem === currentBox) currentBox = null;
  });

  let isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      isDarkMode = event.matches;
    });

  let lastFrameTime = 0;
  function render(dt: DOMHighResTimeStamp) {
    const delta = (dt - lastFrameTime) * 5e-3;
    lastFrameTime = dt;

    const scrollOffsetX = window.scrollX % DOT_SPACING;
    const scrollOffsetY = window.scrollY % DOT_SPACING;

    dots.render({
      box: currentBox
        ? {
            top: currentBox.getBoundingClientRect().top,
            bottom: currentBox.getBoundingClientRect().bottom,
            left: currentBox.getBoundingClientRect().left,
            right: currentBox.getBoundingClientRect().right,
          }
        : null,
      isDarkMode,
      delta,
      mouseX,
      mouseY,
      useColor: isColor,
      scrollOffsetX,
      scrollOffsetY,
    });

    if (shouldUpdate) {
      requestAnimationFrame(render);
    }
  }
  startUpdating();

  window.addEventListener("resize", (_) => {
    updateCanvas();
    startUpdating();
  });

  window.addEventListener("scroll", (_) => startUpdating());

  window.addEventListener("astro:before-preparation", (_) => {
    canvas.remove();
  });
</script>

<style>
  @import "@styles/global.css" reference;
  #canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
</style>
