<div>
  <div class="flex flex-row text-lg font-sans justify-center md:justify-normal">
    <a
      href="https://ring.purduehackers.com/previous?host=jackhogan.me"
      target="_blank"
      class="hover:underline p-1">←</a
    >
    <a
      href="https://ring.purduehackers.com"
      target="_blank"
      class="hover:underline font-bold p-1">Purdue Hackers</a
    >
    <a
      href="https://ring.purduehackers.com/next?host=jackhogan.me"
      target="_blank"
      class="hover:underline p-1">→</a
    >
  </div>
  <p class="font-sans mt-2 text-lg text-center md:text-start mb-10 md:mb-0">
    © Jack Hogan
  </p>
</div>
