---
interface Props {
  alwaysCenter?: boolean;
  isBlog?: boolean;
}
const { alwaysCenter = false, isBlog = false } = Astro.props;
const year = new Date().getFullYear();
const toggleColorStyle = isBlog ? "hidden md:flex" : "flex";
---

<footer class="mt-4 w-full">
  {
    isBlog && (
      <div class="justify-center flex mb-2">
        <button
          class="hover:underline p-1 hover:-translate-y-1 transition-transform"
          onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
        >
          ↑ Back to Top ↑
        </button>
      </div>
    )
  }

  <div
    class=`w-full ${toggleColorStyle} ${alwaysCenter ? "" : "md:justify-normal"} justify-center mb-2 underline hover:decoration-2 text-lg`
  >
    <button
      onclick="document.dispatchEvent(new CustomEvent('colortoggle', { detail: {} }))"
      >Toggle Color</button
    >
  </div>

  <div
    class=`flex flex-row text-lg font-sans justify-center ${alwaysCenter ? "" : "md:justify-normal"}`
  >
    <a
      href="https://ring.purduehackers.com/previous?host=jackhogan.me"
      class="hover:underline pr-1 py-1 hover:-translate-x-1 transition-transform"
      >←</a
    >
    <a
      href="https://ring.purduehackers.com"
      target="_blank"
      class="hover:underline font-bold p-1">Purdue Hackers</a
    >
    <a
      href="https://ring.purduehackers.com/next?host=jackhogan.me"
      class="hover:underline pl-1 py-1 hover:translate-x-1 transition-transform"
      >→</a
    >
  </div>

  <p
    class=`font-mono mt-2 text-lg text-center ${alwaysCenter ? "" : "md:text-start"} mb-10 md:mb-0`
  >
    © {year} Jack Hogan
  </p>
</footer>
