---
interface Props {
  alwaysCenter?: boolean;
}
const { alwaysCenter = false } = Astro.props;
---

<footer class="mt-4 w-full">
  <div
    class=`flex flex-row text-lg font-sans justify-center ${alwaysCenter ? "" : "md:justify-normal"}`
  >
    <a
      href="https://ring.purduehackers.com/previous?host=jackhogan.me"
      class="hover:underline pr-1 py-1 hover:-translate-x-1 transition-transform"
      >←</a
    >
    <a
      href="https://ring.purduehackers.com"
      target="_blank"
      class="hover:underline font-bold p-1">Purdue Hackers</a
    >
    <a
      href="https://ring.purduehackers.com/next?host=jackhogan.me"
      class="hover:underline pl-1 py-1 hover:translate-x-1 transition-transform"
      >→</a
    >
  </div>
  <p
    class=`font-sans mt-2 text-lg text-center ${alwaysCenter ? "" : "md:text-start"} mb-10 md:mb-0`
  >
    © Jack Hogan
  </p>
</footer>
