---
import NameAndLinks from "../components/NameAndLinks.astro";
import Layout from "../layouts/Layout.astro";
import FeedContainer from "../components/FeedContainer.astro";
import Footer from "./Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex p-6 flex-col md:flex-row w-screen h-screen">
    <!-- <div class="fixed top-0">
      <NameAndLinks />
    </div> -->
    <NameAndLinks hide={true} />
    <NameAndLinks hide={false} />
    <FeedContainer />
    <div id="empty" class="flex-shrink basis-1/4 hidden lg:block"></div>
    <div class="block md:hidden">
      <Footer />
    </div>
  </div>
</Layout>
