---
interface Props {
  title: string;
  position: string;
  timePeriod: string;
}

const { title, position, timePeriod } = Astro.props;
---

<div>
  <h2 class="font-title text-3xl md:text-4xl">{title}</h2>
  <h3 class="font-sans italic text-xl md:text-2xl">{position}, {timePeriod}</h3>
  <div class="font-serif md:text-lg">
    <slot />
  </div>
</div>
